{#
/**
 * @file dsi_pseudo_api.html.twig
 * Default theme implementation to present Pseudo api data.
 *
 * This template is used when viewing Pseudo api pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_dsi_pseudo_api()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('dsi_pseudo_api') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
