[submodule "themes/news/zhuqiu"]
	path = themes/news/zhuqiu
	url = git@gitee.com:erel33/zhuqiu.git
[submodule "themes/news/ls"]
	path = themes/news/ls
	url = git@gitee.com:erel33/ls.git
[submodule "themes/news/quwei"]
	path = themes/news/quwei
	url = git@api.gitee.com:erel33/quwei.git
[submodule "themes/news/yangshen"]
	path = themes/news/yangshen
	url = git@api.gitee.com:erel33/yangshen.git
[submodule "themes/news/xinwen"]
	path = themes/news/xinwen
	url = git@api.gitee.com:erel33/xinwen.git
[submodule "themes/news/jinisi"]
	path = themes/news/jinisi
	url = git@api.gitee.com:erel33/jinisi.git
[submodule "themes/news/zhinet"]
	path = themes/news/zhinet
	url = git@api.gitee.com:erel33/zhinet.git
