* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	font-family: "microsoft yahei";
	font-size: initial;
}

a {
	text-decoration: none;
	outline: none;
	color: #282828;
}

i {
	font-style: normal;
}

img {
	border: none;
}

ul,
li {
	list-style: none;
}

.page {
	width: 100%;
	background-color: #ffffff;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.center {
	margin: 0 auto;
}

.l {
	float: left;
}

.r {
	float: right;
}

.e {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.line1 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.line3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

/* 导读 */
.smalltext {
  margin-bottom: 1.25rem;
  background: #f1f1f1;
  padding: 1.25rem;
  color: #888;
  line-height: 1.375rem;
}

.smalltext i {
  background: url(../images/cmsinfo-icon.png) no-repeat left center;
  width: 1.5rem;
  height: 0.9375rem;
  background-position: 0 0;
  float: left;
}
