/* footer */
.footer {
  width: 75rem;
  margin: 0 auto;
  height: 4.375rem;
  line-height: 4.375rem;
}

.footer .l {
  margin-left: 5%;
}

.footer .r {
  margin-right: 5%;
}

.footer a:hover {
  text-decoration: underline;
}