/* header */
.header {
	width: 75rem;
	height: 4.375rem;
	margin: 0 auto;
	overflow: hidden;
}

.header_l {
	height: 4.375rem;
}

.header_l img {
	margin-top: 0.9375rem;
}

.header_r {
	text-align: right;
	box-sizing: border-box;
	padding-right: 3%;
}

.header_r a,
.header_r img {
	vertical-align: middle;
}

.header_r a {
	height: 4.375rem;
	line-height: 4.375rem;
	display: inline-block;
	font-size: 1rem;
}

.header_r a:nth-last-of-type(1) {
	text-indent: 1.5625rem;
	font-size: 0.875rem;
	margin-right: 2.1875rem;
	margin-left: 2.1875rem;
	background-image: url(../images/index/search.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.header_r a:nth-last-of-type(2) {
	font-size: 0.875rem;
}

.header_r a:nth-last-of-type(3) {
	font-size: 0.875rem;
	margin-left: 2.1875rem;
}

.header_r a:nth-last-of-type(n+4) {
	margin-left: 1%;
}

.header_r a:hover {
	text-decoration: underline;
	color: #66a5d4;
}

@media screen and (min-width: 93.75rem) {
	.header_r a {
		font-size: 1.25rem;
	}

	.header_r a:nth-last-of-type(1) {
		text-indent: 1.5625rem;
		font-size: 1rem;
		margin-right: 2.1875rem;
		margin-left: 2.1875rem;
		background-image: url(../images/index/search.png);
		background-repeat: no-repeat;
		background-position: left center;
	}

	.header_r a:nth-last-of-type(2) {
		font-size: 1rem;
	}

	.header_r a:nth-last-of-type(3) {
		font-size: 1rem;
		margin-left: 2.1875rem;
	}
}

@media screen and (max-width:64.25rem) {

	html,
	body {
		width: 90rem !important;
	}
}