{#
/**
 * @file seo_station_address.html.twig
 * Default theme implementation to present Station address data.
 *
 * This template is used when viewing Station address pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_seo_station_address()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('seo_station_address') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
