{#
/**
 * @file spiders.html.twig
 * Default theme implementation to present Spiders data.
 *
 * This template is used when viewing Spiders pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_spiders()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('spiders') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
