{#
/**
 * @file seo_flink.html.twig
 * Default theme implementation to present Flink data.
 *
 * This template is used when viewing Flink pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_seo_flink()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('seo_flink') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
