{#
/**
 * @file seo_textdata.html.twig
 * Default theme implementation to present Text data data.
 *
 * This template is used when viewing Text data pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_seo_textdata()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('seo_textdata') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
