  <div>
    <h2>艾瑞SEO 系统操作流程</h2>
    <div class="out-contain">
      <div>
        <div class="loo onecolunmfirst">系统安装完成之后的初始化产品</div>
        <div class="xt1"></div>
        <div class="loo onecolunmsecond"><a href="/admin/seo_textdata/article/type">1. 内容库</a></div>
        <div class="xt2"></div>
        <div class="loo onecolunmthird"><a href="/admin/seo_station_model">2. 站群模型</a></div>
        <div class="xt3"></div>
        <div class="loo onecolunmfour"><a href="/admin/seo_station/custom_domain_tkd">3. 自定义域名TKD</a></div>
        <div class="xt4"></div>
        <div class="loo"><a href="/admin/seo_station">4. 网站管理</a></div>
      </div>
      <div class="left-margin1">
        <div>
          <div class="xtq1"></div>
          <div class="line1"></div>
        </div>
        
        <div class="xtq2"></div>
        <div class="xtq3"></div>
      </div>
      <div>
        <div class="noloo sixtyheight">初始化项目</div>
        <div class="xtaa"></div>
        <div class="loo twocolumntwo"><a href="/admin/seo_textdata/article/type">1.1 文章库</a></div>
        <div class="loo twocolumntwo"><a href="/admin/seo_textdata/title/type">1.2 标题库</a></div>
        <div class="loo twocolumntwo"><a href="/admin/seo_textdata/typename/type">1.3 栏目库/a></div>
        <div class="loo sixtyheight"><a href="/admin/seo_textdata/webname/type">1.4 网站名称库/a></div>
        <div class="loo onefourzeroheight"><a href="/admin/seo_station_model/2/edit">2.1 文章新闻</a></div>
        <div class="loo"><a href="/admin/seo_station/add?destination=/admin/seo_station">4.1 添加网站</a></div>
      </div>
      <div class="left-margin1">

        <div class="xtqq1"></div>
        <div class="xtqq2"></div>
      </div>

      <div>
        <div class="loo fourzerozerpheight"><a href="/admin/seo_station_model/2/edit">2.2 编辑,添加URL规则列表</a></div>
        <div class="loo"><a href="/admin/seo_station/extract_links">4.2 提取全站链接</a></div>
      </div>
      <div class="left-margin1" style="display: flex;">
        <div class="nono"></div>
        <div class="nono1"></div>
      </div>

      <div>
        <div class="loo fourcolumn"><a href="/admin/seo_station_model/2/url/dynamic">2.3.1 随机模式</a></div>
        <div class="loo" style="margin-top: 45px;"><a href="/admin/seo_station_model/2/url/static">2.3.2 固定模式</a></div>
      </div>

      <!-- <div class="left-margin2">
      </div> -->
      <div class="line"></div>

      <div>
        <div class="noloo fivecolumn">任选一,泛站；随机模式</div>
      </div>

    </div>
  </div>