{#
/**
 * @file seo_station_model_url.html.twig
 * Default theme implementation to present Station model url data.
 *
 * This template is used when viewing Station model url pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_seo_station_model_url()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('seo_station_model_url') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
