  
{{attach_library('zgsc/content')}}
<body>
  <header>
    <style type="text/css">
      .navImg {
        width: 75rem;
        margin: 0 auto;
        height: 8.125rem;
      }

      .navImg img {
        width: 100%;
        height: 8.125rem;
      }

      .navBottomCon {
        bottom: 0 !important;
      }

      /*3.16新闻资讯标题修改*/
      .Left .title .stit {

        font-weight: 400;
        font-family: '楷体';
      }
    </style>
    
    <div class="page">
      <!-- 引入头部 -->
      <!-- header -->
      <div class="header clear">
        <div class="header_l l">
          <a href="/"><img src="/{{ directory }}/images/index/logo.png"></a>
        </div>
        <div class="header_r">
          <a href="../index.html">首页</a>
          <a href="../hrml/gsgk/gsjl.html">公司概况</a>
          <a href="../hrml/xwzx/gszx.html">新闻中心</a>
          <a href="../hrml/djgz/djgz.html">党建工作</a>
          <a href="../hrml/zyyw/yybl.html">主营业务</a>
          <a href="../hrml/hwjg/zszoz.html">海外机构</a>
          <a href="../hrml/cpxx/cpxx.html">产品信息</a>
          <a href="../hrml/hyfw/hyfwjs.html">航运服务</a>
          <a href="javascript:;"></a>
          <a href="javascript:;"></a>
          <a href="/ss/index.jhtml">搜索</a>
        </div>
      </div>
    </header>

    <div class="nav">
      <!-- 引入选项卡 -->
      <div class="navImg">
        <img src="/{{ directory }}/images/banner/banner.png" alt="">
      </div>
      <div class="navBottom center">
        <div class="navBottomCon">
          <p>
            <span class="oneList">
              <img src="/{{ directory }}/images/content/homelogo.png">
              <a href="../index.html">首页</a>
              <span>&gt;</span>
              <span>
                <a href='../html/xwzx/gszx.html'>新闻中心</a>
                <span>&gt;</span>
                <a href='../html/xwzx/gszx.html'>公司资讯</a>
              </span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="main center">
      <div class="Left">
        <p class="title">公司团委开展“学党史、强信念、跟党走”主题团日活动<br><span class="stit">——香山革命纪念地参观学习<span></p>
        <div class="NewBox" id="myDiv">
          <p class="info">作者：<span>本站编辑 </span> 来源：原创 发布日期：<span>2021-05-24
            </span> 浏览次数：<span id="views"></span> </p>
          <p>&nbsp;<img src="../images/content/24141520bc33.png" title="" alt="" style="max-width: 100%; width: 23.125rem; height: 16.875rem;" width="370"
              height="270" border="0" vspace="0" />&nbsp; &nbsp;&nbsp;<img src="../images/content/24141550m185.png" title="" alt=""
              style="max-width: 100%; width: 23.125rem; height: 16.875rem;" width="370" height="270" border="0" vspace="0" />
          </p>
          <p
            style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;text-indent:2rem;text-autospace:ideograph-numeric;text-align:justify;text-justify:inter-ideograph;line-height:1.9375rem">
            <span
              style="font-size: 1rem; font-family: 微软雅黑, Microsoft YaHei; color: rgb(63, 63, 63);">为庆祝建党百年，4月23日，公司团委组织了“学党史、强信念、跟党走”沉浸式主题团日活动。党委书记伏卫民带队，以党建带团建，带领本部团员青年赴香山革命纪念地，“抚今追昔忆先烈，重走进京赶考路”。大家一起重温香山红色故事，追忆那段感人的历史岁月，感受老一辈无产阶级革命家英勇无畏的革命精神。公司党史学习教育工作组组长杨光辉参加活动。</span>
          </p>
          <p
            style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;text-indent:2rem;text-autospace:ideograph-numeric;text-align:justify;text-justify:inter-ideograph;line-height:1.9375rem">
            <span
              style="font-size: 1rem; color: rgb(63, 63, 63); font-family: 微软雅黑, Microsoft YaHei;">香山公园原为清代静宜园，</span><span
              style="font-size: 1rem; font-family: 微软雅黑, Microsoft YaHei; color: rgb(63, 63, 63);"><span
                style="color: rgb(63, 63, 63); font-size: 1rem; font-family: 仿宋_GB2312;"></span>1860年遭英法联军焚毁，后由熊希龄在静宜园旧址创办慈幼院。1949年3月25日，中共中央由河北省平山县西柏坡迁至北平，暂驻香山。在这里，坐镇指挥了渡江战役，还起草了众多纲领。这里是人民解放战争走向全国胜利过渡时期的指挥部，是筹备新政协、筹建新中国的历史见证地。按公司团委要求，此次活动每一处革命纪念地均由1名团员参与讲解介绍，为此大家做了充足的准备，详细查阅了中国共产党及香山革命纪念地的历史资料，积极学习背诵，热情投入；通过“沉浸式”的参观学习，加深了对党的历程的了解。在庄严的党徽下，大家举起右拳，再一次重温入团誓词，“不忘初心，砥砺前行”。青松苍翠，春意盎然，大家无不感到热血沸腾。</span>
          </p>
          <p
            style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;text-indent:2rem;text-autospace:ideograph-numeric;text-align:justify;text-justify:inter-ideograph;line-height:1.9375rem">
            <span
              style="font-size: 1rem; font-family: 微软雅黑, Microsoft YaHei; color: rgb(63, 63, 63);">伏卫民全程参加了活动，与团员青年们边走边聊，进行了深入思想交流，伏卫民勉励大家要在认真学习党史的基础上，树立正确的世界观、人生观、价值观，从历史经验中汲取智慧和力量，掌握科学的思想方法，传承红色基因，把学习成果转化为工作的动力，继续发扬中水优良传统，肩负起时代赋予年轻人的神圣使命，以更加饱满的精神态度，为建设社会主义现代化国家贡献智慧、力量。</span>
          </p>
          <p
            style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;text-indent:2rem;text-autospace:ideograph-numeric;text-align:justify;text-justify:inter-ideograph;line-height:1.9375rem">
            <span
              style="font-size: 1rem; font-family: 微软雅黑, Microsoft YaHei; color: rgb(63, 63, 63);">通过这次活动，团员青年们纷纷表示，要把共产主义革命精神，转化为当前及今后的工作动力，锐意进取、开拓创新，以朝气蓬勃的创新活力、英勇无畏的责任担当、积极热血的青春风采，为实现中华民族伟大复兴的中国梦而不懈奋斗。</span>
          </p>
          <p><br /></p>
        </div>
        <div class="btnArea clear">
          <div class="f">
            <p>
              <span>上一篇</span> |
              没有了
            </p>
            <p>
              <span>下一篇</span> |
              <a href="#"
                title='公司召开党史学习教育动员部署会<br><span class="stit">学史明理 学史增信 学史崇德 学史力行<span>'>公司召开党史学习教育动员部署会<br><span
                  class="stit">学史明理 学史增信 学史崇德 学史力行<span></a>
            </p>
          </div>
          <div class="f r">
            <a href="javascript:;" class="close">关闭</a>
          </div>
        </div>
      </div>
      <div class="Right noprint">
        <p><a href="#" class="hover_tx">公司资讯</a></p>
        <ul class="top">
          <li><a href="#">公司团委开展“学党史、强信念、跟党走”主题团日活动<br><span class="stit">——香山革命纪念地参观学习<span></a></li>
          <li><a href="#">公司召开党史学习教育动员部署会<br><span class="stit">学史明理 学史增信 学史崇德
                学史力行<span></a></li>
          <li><a href="#">央视摄制组随“中太6”出海拍摄专题纪录片</a></li>
        </ul>
        <p><a href="../html/djgz/djgz.html" class="hover_tx">党建工作</a></p>
        <ul class="bottom">
          <li>
            <p class="inf all_w">
              <a href="#">诫勉的理解与适用初探</a>
            </p>
          </li>
          <li>
            <p class="inf all_w">
              <a href="#">“独立王国”的覆灭 ——北京隆达控股及下属印包集团、制版厂违反政治纪律组织纪律案剖析</a>
            </p>
          </li>
          <li>
            <p class="inf all_w">
              <a href="#">余涤非赴山东调研现代农业服务体系建设到中农天泰公司进行主题教育指导并讲党课</a>
            </p>
          </li>
          <li>
            <p class="inf all_w">
              <a href="#">三大粮食作物化肥农药使用量零增长</a>
            </p>
          </li>
          <li>
            <p class="inf all_w">
              <a href="#">集团公司召开党风廉政建设和反腐败工作会议</a>
            </p>
          </li>
        </ul>
      </div>
    </div>
    <!-- footer -->
    <!-- footer -->
    <div class="footer">
      <p class="l">Copyright © 2011-2015 版权所有 中国水产有限公司　<a href="#"
          target="_blank">京ICP备13001482号-1</a>　京公网安备11010602004977号</p>
      <p class="r">
        <a href="../html/gsgk/zpzw.html">招聘职位</a> |
        <a href="../html/gsgk/lxwm.html">联系我们</a> |
        <a href="../html/gsgk/flsm.html">法律声明</a>
      </p>
    </div>
  </div>
