html,
body {
	background-color: #f5f5f5 !important;
}

/* nav_img */
.nav_img {
	width: 75rem;
	margin: 0 auto;
	height: 8.125rem;
	position: relative;
}

.nav_img>img {
	width: 100%;
	height: 8.125rem;
}

/* path */
.path_box {
	width: 100%;
	height: 4.6875rem;
}

.path {
	height: 4.6875rem;
	line-height: 4.6875rem;
	text-align: left;
	font-size: 0.875rem;
	box-sizing: border-box;
	padding-right: 2.5rem;	
	color: #9c9c9c
}

.path a {
	color: #9c9c9c;
}

.path a:hover {
	text-decoration: underline;
	color: #007f91;
}

/* main */
.main_box {
	width: 100%;
}

.main {
	margin-bottom: 9.375rem;
}

/* 左侧导航 */
.main_l {
	background-color: #eeeeee;
	width: 18.75rem;
}

.main_l_top {
	width: 100%;
	height: 6.25rem;
}

.main_l_top img {
	width: 18.75rem;
	height: 6.25rem;
}

.main_l ul {
	margin-top: 1.25rem;
	min-height: 29.375rem;
}

.main_l ul li {
	margin-top: 0.625rem;
	width: 100%;
	height: 2.875rem;
}

.main_l ul li a {
	display: inline-block;
	width: 100%;
	height: 2.875rem;
	line-height: 2.875rem;
	font-size: 1.125rem;
	box-sizing: border-box;
	padding-left: 1.875rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* .main_l ul li.active a {
	color: #fff;
	background-image: linear-gradient(to right, #002e71, #006fc9);
} */

.main_l ul li:hover a {
	color: #fff;
	background-image: linear-gradient(to right, #002e71, #006fc9);
}

/* 右侧 */
.main_r {
	width: 55.625rem;
	min-height: 31.25rem;
	background-color: #fff;
}

.main_r_title {
	width: 100%;
	font-size: 1.75rem;
	overflow: hidden;
	box-sizing: border-box;
	padding-left: 2.5rem;
}

/* 其它产品tab */
.pro_list_box {
	width: 100%;
	box-sizing: border-box;
	padding: 0 2.5rem;
}

/* 产品列表 */
.pro_list_con {
	margin-top: 1.25rem;
}

.pro_item {
	width: 15.625rem;
	height: 19.6875rem;
	overflow: hidden;
	margin-top: 2.1875rem;
}

.pro_item>p:nth-of-type(1),
.pro_item>p:nth-of-type(1) img {
	width: 15.625rem;
	height: 16.875rem;
	overflow: hidden;
}

.pro_item>p:nth-of-type(2) {
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
}

.pro_item:nth-of-type(3n+2),
.pro_item:nth-of-type(3n+3) {
	margin-left: 1.875rem;
}

.pro_item:hover img {
	transition: 0.6s;
	transform: scale(1.05);
}

.pro_item p:nth-of-type(2) a:hover {
	text-decoration: underline;
	color: #7fca51;
}

/* 分页 */
.page_box {
	width: 100%;
	height: 5.3125rem;
	line-height: 5.3125rem;
	text-align: center;
	/* background-color: red; */
}

.page_box a:hover {
	color: #fff;
	background-color: #3469b0;
}

.footer_box {
	margin-top: 2.1875rem;
}

.page_box a {
	color: #3469b0;
}

.content {
	width: 75rem;
}