
<div class="views-element-container  block block-views">
<h2>网站公告</h2>
<div class="content">
  <div>
    <div class="view-content row">
      <div class="item-list">
        <ul>
          {% for item in content %}
            <li>  [{{ item.tag }}] - {{ item.title }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>
</div>
</div>
